<div class="col-md-3">
  <h3><a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a></h3>
    <div class="col-md-4">
      <img src="http://www.gravatar.com/avatar/ef1549980b18104c19ecd2d44f42a2a5.png" alt="Surya Tripathi"  class="img-circle" /> 
    </div>
    <p>
      A startup freak, movie buff, foodie, loves music, and playing games. I am an open source evangelist, hardcore Rails programmer, enjoy programming in Ruby, and a full time student for life.
  </p>
  <p>I tweet from <a href="https://twitter.com/_SRT_" class="twitter-follow-button" data-show-count="true" data-lang="en">@_SRT_</a> and email from <a href="mailto:surya@rajtripathi.com">surya@rajtripathi.com</a>.</p>
  
  <p>I write <a href="archive.html">essays on this site</a>.</p>

  <ul class="buttons unstyled">
    <li><a href="http://github.com/suryart" rel="me" class="social github" title="Go to github.com/suryart" target="_blank"></a></li>
    <li><a href="http://in.linkedin.com/in/suryatripathi" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
    <li><a href="http://www.twitter.com/_SRT_" rel="me" class="social twitter" title="Go to twitter.com/_SRT_" target="_blank"></a></li>
    <li><a href="http://feeds.feedburner.com/suryart" rel="me" class="social rss" title="Go to feedburner Surya Raj Tripathi rss feed" target="_blank"></a></li>
    <li><a href="https://plus.google.com/+SuryaTripathi/about" rel="me" class="social gplus" title="Go to Google Plus profile" target="_blank"></a></li> 
    <li><a href="https://github.com/suryart/suryart.github.io/issues/new" rel="me" class="social mail" title="Leave feedback for Surya"  target="_blank"></a></li>       
  </ul>
</div>